@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-ExtraBold.woff2') format('woff2'),
        url('../fonts/Nunito-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Italic.woff2') format('woff2'),
        url('../fonts/Nunito-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-LightItalic.woff2') format('woff2'),
        url('../fonts/Nunito-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Medium.woff2') format('woff2'),
        url('../fonts/Nunito-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-MediumItalic.woff2') format('woff2'),
        url('../fonts/Nunito-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.woff2') format('woff2'),
        url('../fonts/Nunito-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-SemiBold.woff2') format('woff2'),
        url('../fonts/Nunito-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Nunito-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Bold.woff2') format('woff2'),
        url('../fonts/Nunito-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

ul li{  list-style: none;}
body{  font-family: 'Nunito';}



#header a{display: inline-block;}
#header {background: #000; padding: 12px 100px;}
#header .menu{ padding: 0; color: #fff; font-size: 16px; margin-left: 15px;
    font-weight: 600; transition: all ease-in-out 0.3s;}
#header .menu{position: relative;}
#header .menu:hover{color: #84d1d1;}
#header .menu:hover::after{width: 100%;transition: all ease-in-out 0.3s;}
#header .menu::after{content: ""; position: absolute; background-color: #84d1d1; 
     height: 1px; width: 0%; left: 0%; bottom: -10px; transition: 0.3s;}



#banner { position: relative;} 
#banner .main-banner { position: relative;}
#banner .heading-banner { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 99;}
#banner .heading-banner span { font-size: 34px; font-weight: 600; }
#banner .heading-banner h1 { font-size: 137px; font-weight: 700; color: #84d1d1;line-height: 140px;}
#banner video.disktop { opacity: 1.9;}
#banner .devteam-six-img { position: absolute; left: 50%; bottom: -10px; display: flex; justify-content: center;
     align-items: center; z-index: 9; transform: translateX(-53%);}
#banner:before { content: ""; position: absolute; top: 0; left: 0; bottom: 0; background: #000000a8;
    width: 100%; height: 100%; z-index: 1;}
#banner .p-0 { position: relative;}




#devteam-six .paragraph-devteamsix span{ font-size: 16px; font-weight: normal; color:#8f9092 ;}
#devteam-six{ background-image: url('../image/dev-six-img.png'); background-position: center; background-repeat: no-repeat;
    background-size: cover;position: relative; padding: 0px 0px 128px 0px;}
#devteam-six  .img-hi-text{ margin-bottom: 30px;}
#devteam-six .hi-img { width: 11px; height: 126px; margin: 0 auto; padding-left: 0px;}
#devteam-six  span.h { font-size: 64px; color: #ffffff; font-weight: 700;}
#devteam-six span.i{ font-size: 64px; color: #84d1d1; font-weight: 700;}
#devteam-six span.invertercoma{ font-size: 64px; color: #ffffff; font-weight: 700;}
#devteam-six  h3.devteamsix.mission{text-align: center;color: #84d1d1;font-size: 34px;font-weight: 600;margin-bottom:35px;}
#devteam-six .paragraph-devteamsix{ max-width: 1035px; margin: 0 auto;}
#devteam-six p.full-stack{ font-size: 22px; color: #8f9092; font-weight: 100; text-align: center; margin: 0 auto;
   margin-bottom:50px; line-height: 39px;}
button.meet{ font-size: 16px; color: #fff;font-weight: 600;  background: #84d1d1; min-width: 180px;z-index: 9999;
    border: 2px solid #84d1d1;  border-radius: 30px;  padding: 11px 30px;  margin-right: 10px;  transition: 0.3s;}
button.meet:hover{ background-color:#fff; color: #2d2e32; border: 2px solid #fff;}




#hospital-billing{ background-image: url('../image/dev-six-img.png'); background-position: center;
    background-repeat: no-repeat; background-size: cover; position: relative; padding:100px 0px; margin-top: -2px;}
#hospital-billing .main-icon-box { border: 1px solid #8f9092; padding: 25px; transition: 0.3s;}
#hospital-billing .main-icon-box:hover{  box-shadow: 0px 0px 20px #fff; }
#hospital-billing  i.hospital{ font-size: 42px; color: #84d1d1;}
#hospital-billing  .heading-span h3{ font-size: 20px; font-weight: normal; color: #8f9092}
#hospital-billing  .heading-span span{font-size: 16px; font-weight: normal; color: #8f9092;}
#hospital-billing  .heading-span a{ text-decoration: none; color: #fff;}




#healthcare { background-image: url('../image/dev-six-img.png'); background-position: center;background-repeat: no-repeat; 
    background-size: cover; position: relative; padding:0px 0px 100px 0px; margin-top: -2px; }
#healthcare .main-healthcare {border-top: 1px solid #fff;}
#healthcare .healthcare-heading h3{color:#84d1d1; font-size: 28px; font-weight: normal;}
#healthcare .healthcare-heading strong{ color:#8f9092 ; font-size: 22px; font-weight: normal;}
#healthcare .paragraphe-healththcare p{ font-size: 22px;font-weight: normal; color:#8f9092  ;}
#healthcare iframe { height: 330px;  width: 100%; }



#checkup{ background: url('../image/form-bg.jpg'); background-position: center;   background-repeat: no-repeat;
    background-size: cover; position: relative; padding:100px 0px; z-index: 9;}
#checkup .check-index { position: relative; z-index: 9999;}
#checkup:before {  content: "";  position: absolute;  top: 0;  left: 0;  bottom: 0;  background: #040404;  width: 100%;
        height: 100%;  z-index: 1; opacity: 0.5;}
#checkup .heading-strong h3 { font-size: 28px; color: #84d1d1; font-weight: 700; }
#checkup .heading-strong strong{ font-size: 20px; font-weight: 600; color:#fff;}
#checkup li.checkup-list { border: 1px solid #fff; padding: 20px; border-radius: 8px; transition: 0.3s;
    background-color: rgba(255,255,255,0.86);}
#checkup li.checkup-list:hover{  box-shadow: 0px 0px 15px #fff;}
#checkup .checkup-list span{ font-size: 16px; font-weight: normal; color:#000 ;}
#checkup li.checkup-list  a.rcm{text-decoration: none; font-size: 18px; font-weight: normal;}
#checkup li.checkup-list p {color: #000; font-weight: normal;}
#checkup input.form-control.username {font-size: 18px; font-weight:600; padding: 10px; min-height: 50px;
     border: 1px solid #fff; z-index: 999;}
#checkup .form-control:focus { box-shadow:none;}
#checkup ::placeholder{ color: #000;}
#checkup textarea#floatingTextarea2 { border: 1px solid #fff;  resize: none; position: relative; z-index: 99999;}
#checkup form {  padding: 25px;}
#checkup form:before { content: ""; position: absolute; top: 0; left: 0; bottom: 0; background: #fff;
    width: 100%; height: 100%; z-index: 1; opacity: 0.5;}
#checkup .from{ position: relative;}




/* #use-devteam{
    background-image: url('../image/popover-background-img.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: -2PX;
    position: relative;
}
#use-devteam strong.use-devteam{
    font-size: 34px;
    font-family: 'Open Sans';
    font-weight: 600;
    margin-bottom: 25px;
    color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}
#use-devteam h2.Boost-Your{
    font-size: 64px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #f8f8f8;
    text-align: center;
}
#use-devteam .main-use-devteam{
    padding-top: 125px;
    margin-bottom: 100px;
}
#use-devteam a.popover-bg {
    background-color: #1c1c21;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 1px solid #1c1c21;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
#use-devteam a.popover-bg:focus{
    box-shadow: none;
}
#use-devteam a.popover-bg:hover{
    background-color: #ab0c0d;
}
#use-devteam .main-popas{
    position: relative;
    height: 100%;
}
#use-devteam a.vactor-img{
    position: absolute;
    top: 43px;
}
#use-devteam .two-img{
    position: absolute;
    top: 275px;
    left: -15px;
}
#use-devteam .c-popover-img{
    position: absolute;
    bottom: 260px;
    left: 15px;
}  
#use-devteam .popover-box-img{
    position: absolute;
    top: 100px;
    left: 145px;
}
#use-devteam .popover-five-img{
    position: absolute;
    top: 210px;
    left: 105px;
}
#use-devteam .popover-leves-img{
    position: absolute;
    top: 344px;
    left: 145px;
}
#use-devteam .popover-a-img{
    position: absolute;
    top: 130px;
    left: 300px;
}
#use-devteam .popover-dimaond-img{
    position: absolute;
    top: 257px;
    left: 257px;
}
#use-devteam .popover-html-img{
    position: absolute;
    bottom: 275px;
    left: 300px;
}
#use-devteam .popover-smart-img{
    position: absolute;
    top: 60px;
    right: 130px;
}
#use-devteam .popover-php-img{
    position: absolute;
    top: 197px;
    right: 105px;
}
#use-devteam .popover-buble-img{
    position: absolute;
    top: 313px;
    right: 148px;
}
#use-devteam .popover-n-img{
    position: absolute;
    top: 128px;
    right: -40px;
}
#use-devteam .popover-truffle-img{
    position: absolute;
    top: 255px;
    right: -9px;
}
#use-devteam .popover-ux-img{
    position: absolute;
    bottom: 265px;
    right: 65px;
}
#use-devteam .popover-us-img{
    position: absolute;
    bottom: 161px;
    right: -46px;
}
.popover {
    font-size: 13px;
    margin-top: 100px;  
    max-width: 500px;
}
.popover.fade{
    border-top: 5px solid #c90506 !important;
    width: 500px !important;
    height: 200px !important;
    background-color: #16161a;
    display: inline-block;
}
.popover-header {
    background-color: #16161a;
    color: #fff; 
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding: 20px 0px;
}
.popover-body {
    color: #fff;  
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    padding: 20px 30px;
}
.popover-arrow{
    display: none !important;
} */


#our-leadership{ background-image: url('../image/last-section-background-img.png'); background-position: center;
    background-size: 100% 100%; background-repeat: no-repeat; overflow: hidden; margin-top: -1px;}
#our-leadership h2.Proud-Empowered{ color: #ffffff; font-size: 34px;  font-weight: 600;
    margin-bottom: 40px;text-align: center;}
#our-leadership strong.price{ color: #ffffff; font-size: 30px;font-weight: 600;
    margin-bottom: 15px; text-align: center; display: block;}
#our-leadership .heading-price{text-align: center;}
#our-leadership span.Active-Hours{ color: #fff; font-size: 14px;  font-weight: 600;text-align: center;}
#our-leadership .background-red { background: #84d1d1; padding: 40px;}


#footer{ background-image: url('../image/footer-background-img.png'); background-position: center;
    background-size: 100% 100%; background-repeat: no-repeat; overflow: hidden; padding: 100px 0px; }
#footer i.facebook{ font-size: 30px; color:#84d1d1 ;}
#footer  a.circle-icon { height: 50px; width: 50px; border: 1px solid #fff; border-radius: 50%; display: flex;
    justify-content: center; align-items: center; text-decoration: none; transition: 0.3s;}
#footer  a.circle-icon:hover{ background: #fff;}
#footer .footer-heading h3{ font-size: 30px; font-weight: 600; color: #84d1d1 ;}
#footer a.madical-link{ text-decoration: none; font-size: 18px; font-weight: normal;color: #fff;}

@media(max-width:991px){
    li.nav-item.px-2:hover{ background-color: #fff; padding: 10px;}
    #header {  position: relative; }
    #header nav.navbar.navbar-expand-lg.navbar-light{ position: static;}
    #header .navbar.justify-content-end { position: static;}
    #header .navbar-toggler { position: absolute; right: 10px; top: 50%; transform: translateY(-50%);}
    #header .navbar-collapse{ position: absolute; left: 0; right: 0; top: 100%; z-index: 99; background: rgba(0,0,0, 0.7);
         padding: 20px;}
}